body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: black;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 16px;
}
.no__film {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
.no__film img {
  object-fit: fill;
  width: 600px;
  height: 600px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
  margin-top: 50px;
}
.card {
  color: black;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  width: 250px;
  opacity: 1;
  border-radius: 10px;
  background-color: rgba(211, 98, 11, 0.821);
}
.cardimg {
  font-size: 70px;
  position: absolute;
  top: 100px;
  visibility: hidden;
  left: 90px;
  z-index: 10000;
  color: white;
}
.card__block:hover .cardimg {
  visibility: visible;
}
.card__block:hover .card{
  filter: blur(6px);
  transform:scale(1.1);}
.card:hover {
  opacity: 0.8;
}
.card__content {
  margin-top: 10px;
  padding: 10px;
}
.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  max-width: 250px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: all ease 2s;
}
.card img:hover{
  object-fit: fill;
}
.card h2 {
  font-size: 18px;
  font-weight: 600;
}
.card .relase-date {
  font-size: 16px;
  font-weight: 700;
  display: block;
  margin-top: 10px;
}
.card .rating {
  position: absolute;
  top: 0;
  right: 0px;
  background-color: rgba(211, 98, 11, 0.821);
  border-top-right-radius: 10px;
  padding: 12px 15px;
  font-weight: 900;
}
.movie__bgimg {
  margin-top: 50px;
  width: 65vw;
  height: 70vh;
  display: flex;
}
.movie__img img {
  width: 30vw;
  height: 70vh;
  object-fit: fill;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.movie__title {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 20px;
}
.movie__popular {
  font-size: 40px;
  font-weight: 700;
}
.movie__release {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}
.movie__aside {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
.nation {
  font-size: 26px;
  font-weight: 700;
}
.languages {
  font-size: 40px;
  font-weight: 700;
}
.movie__date {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 24px;
}
.movie__wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}
.movie__budjet {
  font-size: 30px;
  font-weight: 900;
}
.movie__econom {
  font-size: 24px;
  font-weight: 500;
}
.movie__wrap {
  padding: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(211, 98, 11, 0.821);
  color: black;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 90vh;
}

.active {
  border-bottom: 2px solid rgba(211, 98, 11, 0.821);
  opacity: 1;
}
.pl {
  width: 6em;
  height: 6em;
}

.pl__ring {
  animation: ringA 2s linear infinite;
}

.pl__ring--a {
  stroke: #f42f25;
}

.pl__ring--b {
  animation-name: ringB;
  stroke: #f49725;
}

.pl__ring--c {
  animation-name: ringC;
  stroke: #255ff4;
}

.pl__ring--d {
  animation-name: ringD;
  stroke: #f42582;
}

@keyframes ringA {
  from, 4% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }

  12% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -335;
  }

  32% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -595;
  }

  40%, 54% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -660;
  }

  62% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -665;
  }

  82% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -925;
  }

  90%, to {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -990;
  }
}

@keyframes ringB {
  from, 12% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -110;
  }

  20% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -115;
  }

  40% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -195;
  }

  48%, 62% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  70% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  90% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -305;
  }

  98%, to {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
}

@keyframes ringC {
  from {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  8% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  28% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  36%, 58% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  66% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  86% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  94%, to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

@keyframes ringD {
  from, 8% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  16% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  36% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  44%, 50% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  58% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  78% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  86%, to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}